# dev || production
ENVIRONMENT=

# === ENV VARIABLES FOR LOCALHOST ===
# Pots deixar-ho buit si només utilitzaràs Docker

# index.js i prisma.config.ts
LOCALHOST=
LOCAL_PORT=
LOCAL_DATABASE_URL=

# ./config/prisma.js
LOCAL_ADAPTER_HOST=
LOCAL_ADAPTER_PORT=
LOCAL_ADAPTER_USER=
LOCAL_ADAPTER_PASSWORD=
LOCAL_ADAPTER_DATABASE=

# === ENV VARIABLES FOR DOCKER ===
# Pots deixar-ho buit si només utilitzaràs localhost

# index.js & prisma.config.ts
DOCKER_HOST=
DOCKER_PORT=
DOCKER_DATABASE_URL=

# ./config/prisma.js
DOCKER_ADAPTER_HOST=
DOCKER_ADAPTER_PORT=
DOCKER_ADAPTER_USER=
DOCKER_ADAPTER_PASSWORD=
DOCKER_ADAPTER_DATABASE=

# === NODEMAILER CONFIG ===
# La configuració de nodemailer funciona igual tant en desencvolupament local com en Docker

# ./config/nodemailer.js
TRANSPORTER_SERVICE=
TRANSPORTER_USER=
TRANSPORTER_APP_PASS=