# index.js i prisma.config.ts
HOST=
PORT=
DATABASE_URL=

# ./config/prisma.js
ADAPTER_HOST=
ADAPTER_PORT=
ADAPTER_USER=
ADAPTER_PASSWORD=
ADAPTER_DATABASE=

# ./config/nodemailer.js
TRANSPORTER_SERVICE=
TRANSPORTER_USER=
TRANSPORTER_APP_PASS=