# dev || production
ENVIRONMENT="production"

# === ENV VARIABLES FOR LOCALHOST ===
# Pots deixar aquest bloc buit si només utilitzaras Docker

# index.js i prisma.config.ts
LOCAL_PORT=3001
LOCAL_DATABASE_URL="mysql://root:root@localhost:3306/metari"

# ./config/prisma.js
LOCAL_ADAPTER_HOST=localhost
LOCAL_ADAPTER_PORT=3306
LOCAL_ADAPTER_USER=root
LOCAL_ADAPTER_PASSWORD=root
LOCAL_ADAPTER_DATABASE=metari

# URL del frontend per entorn local o dev.
LOCAL_FRONTEND_URL="http://localhost:5173"

# === ENV VARIABLES FOR DOCKER ===
# ATENCIÓ: Aquests valors han de coincidir amb els del fitxer .env de l'arrel del projecte
# Pots deixar aquest bloc buit si només utilitzaras l'aplicació en local

# index.js & prisma.config.ts
DOCKER_PORT=3001
DOCKER_DATABASE_URL="mysql://root:root@db:3306/metari"

# ./config/prisma.js
DOCKER_ADAPTER_HOST=db
DOCKER_ADAPTER_PORT=3306
DOCKER_ADAPTER_USER=root
DOCKER_ADAPTER_PASSWORD=root
DOCKER_ADAPTER_DATABASE=metari

# URL del frontend per producció.
DOCKER_FRONTEND_URL="http://localhost"

# URL del frontend amb host per els enllaços dels correus
DOCKER_FRONTEND_URL_WITH_HOST="http://ip"

# === NODEMAILER CONFIG ===
# La configuració de nodemailer funciona igual tant en desenvolupament local com en Docker

# ./config/nodemailer.js
TRANSPORTER_SERVICE=
TRANSPORTER_USER=
TRANSPORTER_APP_PASS=

# === JSONWEBTOKEN CONFING ===
# Introduïr clau secreta segura en l'aplicació per firmar els tokens generats.
# És una configuració important i obligatòria per fer funcionar el sistema de login.

# ./config/auth.js
SECRET=  # (OBLIGATORI) Introdueix una clau secreta segura per firmar els tokens