:root {
  --color-1: rgb(170, 170, 170);
  --color-2: rgb(204, 204, 204);
  --color-3: rgb(230, 230, 230);

  --task-color: blue;
  --challenge-color: red;
}

html * {
  padding: 0;
  margin: 0;
}

.navBar {
  display: flex;
  /* height: 40px; */
  background-color: black;
}

.userList {
  background-color: rgb(170, 170, 170);
}

.listEntry:hover {
  opacity: 50%;
}

.banner {
  height: 100px;
}

.nav-btn {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  height: 100%;
  background-color: black;
  text-decoration: none;
  vertical-align: top;
  color: white;
}

/* METAS components */
.metaList {
  display: flex;
  flex-direction: column;
  background-color: var(--color-1);
  padding-bottom: 1px;
  border-radius: 10px 10px 20px 10px;
  resize: vertical;
  overflow: hidden;
  min-height: 150px;
  max-height: 400px;
}

.metaEntry {
  position: relative;
  background-color: var(--color-3);
  border: 1px solid black;
  border-radius: 5px;
}

.metaEntry:hover {
  background-color: var(--color-1);
}

.inline {
  background-color: var(--color-2);
  border-radius: 10px 0 0 10px;
  margin: 10px;
  padding: 0px;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto
}

.inline ul {
  list-style-type: none;
}

.metaDetailsBox {
  padding: 0 10px;
}

.metaDetails {
  border: solid 1px black;
  box-sizing: border-box;
  border-top: 0px;
  background-color: var(--color-3);
  border-radius: 0 0 5px 5px;
}

/* colors for meta types */
.meta-task::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background: var(--task-color);
  border-radius: 0 4px 4px 0;
}

.meta-challenge::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background: var(--challenge-color);
  border-radius: 0 4px 4px 0;
}

/* Modal edit components */

.modalOverlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.767);
  padding-top: 20vh;
}

.modalWindow {
  background-color: var(--color-1);
  padding: 10px;
  border-radius: 20px;
}

/* Categories components */

/* Panell admin */

.createBtn {
  height: 38px;
}

/*Login and Register*/
.form-card {
  background-color: var(--color-3) !important;
}

/*Profile*/
#userProfilePictureFromPage{max-width: 296px; max-height: 296px;}
.user-profile-form-row{width: 70%;}
.alert-profile{width: 70%;}
.userProfileStats{ display: flex; flex-direction: column; background-color: var(--color-1); padding-bottom: 1px; border-radius: 10px 10px 20px 10px; overflow: hidden; }

/*grouplist*/

