# dev || production
ENVIRONMENT="dev"

# === ENV VARIABLES FOR LOCALHOST ===
# Pots deixar-ho buit si només utilitzaràs Docker

LOCAL_BASE_URL="http://localhost:3001/api"

# === ENV VARIABLES FOR DOCKER ===
# Pots deixar-ho buit si només utilitzaràs localhost

DOCKER_BASE_URL="/api"